.glass-button {
  cursor: pointer;
  border: none;
  background: none;
  width: var(--width);
  height: var(--height);
  position: relative;
}

.glass-surface {
  width: var(--width);
  height: var(--height);
  background-color: var(--gd-primary);
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  /* box-shadow: 1px 1px 6px 1px var(--gd-primary); */
  transform-style: preserve-3d;
  will-change: transform;
}

.glass-reflection {
  position: absolute;
  width: var(--width);
  height: var(--height);
  background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1));
  background-size: 100%;
  background-repeat: no-repeat;
  filter: blur(10px);
  opacity: 0;
  will-change: transform, opacity;
}

.glass-borders {
  position: absolute;
  inset: 0px;
  border-radius: 8px;
  padding: 1px;
  background: radial-gradient(
    circle at var(--border-x, 0) var(--border-y, 0),
    rgba(0, 0, 0, 0.1) 10px,
    rgba(255, 255, 255, 1)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 1;
  background-repeat: no-repeat;
  will-change: background;
}
